# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Lab-3/Lab-3.vcxproj.user
/Lab-3/Lab-3.vcxproj.filters
/Lab-3/Lab-3.vcxproj
/Lab-3/Lab-3.sln
/Lab-3/.vs/Lab-3/v17/ipch/AutoPCH/4e1e9d351011a78b/LAB-3.ipch
/Lab-3/.vs/Lab-3/v17/Browse.VC.opendb
/Lab-3/.vs/Lab-3/v17/Browse.VC.db-wal
/Lab-3/.vs/Lab-3/v17/Browse.VC.db-shm
/Lab-3/.vs/Lab-3/v17/Browse.VC.db
/Lab-3/.vs/Lab-3/v17
/Lab-3/x64/Debug
.vscode/
*.vscode/